html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#blockly-div{
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar{
  height: 48px;
  display: flex;
  align-items: center;
  background: darkslategray; 
  /* background colour main */
}
.code-panel{
  position: fixed;
  right: 0;
  width: 40%;
  top: 48px;
  bottom: 0;
  background: darksalmon;
  overflow: auto;
  font-family:monospace;
  visibility: hidden;
}