html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#blockly-div {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background: darkslategray;
  /* background colour main */
}
.code-panel {
  position: fixed;
  right: 0;
  width: 90%;
  top: 60px;
  bottom: 0;
  background: darksalmon;
  overflow: auto;
  font-family: monospace;
  visibility: hidden;
}
